@media only screen and (min-width: 1024px) {
  .wrapper{
    width: 960px;
  }
  header{
    width: 960px;
  }
  nav{
    width: 100%;
  }
  main{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  main .row{
    width: 100%;
    margin: 0 5px;
  }
  main .row .col-sm-6{
    width: 100%;
    padding: 0 5px;
  }
  main img{
      width: 100%;
  }
  footer{
    width: 100%;
  }
}
@media only screen and (min-width: 470px) {
  .wrapper{
    width: 470px;
    margin: 0 auto;
  }
  header{
    width: 960px;
  }
  nav{
    width: 100%;
  }
  header nav ul li a{
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 7px;
    text-decoration: none;
    text-align: center;
  }
  main{
    width: 100%;
    display: block;
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  main .row{
    width: 100%;
    margin: 0 5px;
  }
  main .row .col-sm-6{
    width: 100%;
    padding: 0 5px;
  }
  main img{
      width: 100%;
  }
  footer{
    width: 100%;
    margin: 0 auto;
  }
}
